.view-plans-container {
  padding: 32px;
  min-height: 100vh;
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.view-plans-container h2 {
  font-size: 26px;
  font-weight: 600;
  color: #651E1E;
  margin-bottom: 24px;
  border-bottom: 2px solid #651E1E;
  padding-bottom: 8px;
}

.filters {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.filters select {
  padding: 10px 14px;
  width: 180px;
  font-size: 15px;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
  background-color: #fff;
  color: #330809;
  transition: border-color 0.2s ease-in-out;
}

.filters select:focus {
  border-color: #651E1E;
  outline: none;
}

.view-plans-scroll {
  overflow-x: auto;
  border-radius: 12px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
}

.view-plans-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 1200px;
}

.view-plans-table thead {
  background-color: #651E1E;
}

.view-plans-table thead:hover {
   background-color: #651E1E;
}

.view-plans-table th {
  padding: 14px;
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  border-bottom: 1px solid #e2e8f0;
}

.view-plans-table td {
  padding: 14px;
  font-size: 14px;
  color: #330809;
  border-bottom: 1px solid #e2e8f0;
  vertical-align: middle;
}



.edit-button {
  background-color: #2f9307;
  padding: 8px 14px;
  font-size: 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  color: #fff;
  transition: background-color 0.2s;
}

.edit-button:hover {
  background-color: #256c05;
}

.delete-button {
  margin-top: 10px;
  background-color: #e53e3e;
  padding: 8px 14px;
  font-size: 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  color: #fff;
  transition: background-color 0.2s;
}

.delete-button:hover {
  background-color: #c53030;
}

input[type="file"] {
  font-size: 14px;
  padding: 6px;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: #651E1E;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 28px;
  flex-wrap: wrap;
  gap: 10px;
}

.pagination-btn {
  background-color: #651E1E;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  color: #ffffff;
  transition: background-color 0.3s;
}

.pagination-btn:hover {
  background-color: #330809;
}

.pagination-btn.active {
  background-color: #000000;
  color: #ffffff;
  font-weight: 600;
}

.custom-alert {
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 14px;
  margin-bottom: 16px;
}

.custom-alert-error {
  background-color: #fee2e2;
  color: #b91c1c;
  border: 1px solid #fecaca;
}

.error {
  color: #dc2626;
  font-weight: 500;
  margin-top: 8px;
}
